
body {
    font-family: 'Arial', sans-serif;
    text-align: center;
    background-color: #181818;
    color: white;
    padding: 20px;
}


h1 {
    font-size: 2.5rem;
    color: #6200ea;
}

#obrazek {
    cursor: pointer;
    transition: transform 0.2s;
    max-width: 300px;
    height: auto;
}

#obrazek:hover {
    transform: scale(1.1);
}

#penize {
    font-size: 1.5rem;
    font-weight: bold;
    margin: 15px 0;
    color: white;
}

button {
    background-color: #6200ea;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    margin: 5px;
    border-radius: 8px;
    transition: all 0.3s ease;
}

button:hover {
    background-color: #3700b3;
    transform: scale(1.1);
}

#zastavitAutoclicker {
    background-color: #d50000;
}

#zastavitAutoclicker:hover {
    background-color: #b71c1c;
}
